.fondo {
  height: 900px;
  position: relative;
  background-image: url('../img/fondo.png');
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}
.sesgoabajo-unico {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #2c3e50 transparent;
}
.titulo-patrocinadores, .subtitulo-patrocinadores{
  color: #fff;
  text-align: center;
}
.titulo-patrocinadores{
  font-size: 56px;
  margin-top: 48px;
}
.subtitulo-patrocinadores{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 64;
}
.clientes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-between;
}
.cliente {
  width: 30%;
}
.cliente img {
  width: 100%;
}
